@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "DancingScript";
  src: url(../assets/fonts/Dancing_Script/static/DancingScript-Regular.ttf);
}
