html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header .navigation {
  padding: 30px;
}
