html {
  scroll-behavior: smooth;
}

body,
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

.header {
  nav {
    padding: 1.5em 1.5em;
    .link {
      &:hover {
        font-weight: 700;
      }
    }
  }
}

.overlay {
  padding: 2em;
  background-color: $dkGray;
  color: $white;
}

.content {
  .author_avatar {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 50%;
    &:hover {
      transition: 2s linear;
      border-collapse: collapse;
      box-shadow: 11px 13px 75px 4px rgba(2, 3, 26, 0.67);
    }
    > img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.6;
      transition: 2s linear;
      &:hover {
        opacity: 1;
      }
    }
  }
  .author_content {
    .author_bio {
      font-family: "DancingScript";
    }
  }

  .author_socials_dropdown {
    .dropdown-toggle::after {
      content: none;
    }
    .drop-socials {
      a {
        &:first-child {
          cursor: default;
        }
        &:nth-child(3) {
          i {
            color: $ldInColor;
          }
        }
        &:nth-child(4) {
          i {
            color: $fbColor;
          }
        }
        &:nth-child(5) {
          i {
            color: $ghColor;
          }
        }
        i {
          margin-right: 0.3rem;
        }
      }
    }
  }

  .author_social_links {
    .author_social_links_list {
      li {
        list-style-type: none;
        margin-bottom: 0.7rem;

        i {
          margin-right: 0.3rem;
        }
        a {
          color: $black;
        }
      }
      li.facebook_social_links i {
        color: $fbColor;
      }
      li.linkedin_social_links i {
        color: $ldInColor;
      }
      li.github_social_links i {
        color: $ghColor;
      }
    }
  }
  .main {
    .col-md-4,
    .col-12,
    .col-sm-6 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
    .thumb {
      a.thumbnail {
        display: block;
        padding: 4px;
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 4px;
        img {
          vertical-align: middle;
        }
        > img,
        .img-responsive {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

.col-12,
.col-sm-6 {
  width: 50%;
  float: left;
}

.footer {
  background-color: #37464d;
  padding: 2em;
  .footer-follow {
    .footer-social {
      display: flex;
      flex-direction: row;
      justify-content: start;

      li {
        list-style-type: none;
        margin-right: 0.7rem;

        i {
          margin-right: 0.3rem;
        }
        a {
          color: $white;
          text-decoration: none;
        }
      }
      li.facebook_social_links i {
        color: $fbColor;
      }
      li.linkedin_social_links i {
        color: $ldInColor;
      }
      li.github_social_links i {
        color: $white;
      }
    }
  }
  .footer-copyright {
    p {
      color: $black;
      a {
        color: $black;
      }
    }
  }
}
